<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{ 'Nilai a: ' + jumlah }}</h1>
      <h1>{{ 'Rata rata: ' + c }}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          jumlah: 0,
          c: 0,
        },
        methods: {
          openForm: function () {
            for (i = 0; this.jumlah < 10; i++) {
              a = Number(prompt("Masukkan nilai"));
              this.jumlah += a;
            }
            this.c = this.jumlah / i;
          },
        },
      });
    </script>
  </body>
</html>
