<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      label {
        display: block;
      }
      form {
        background-color: antiquewhite;
        width: 180px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <p v-if='errors.length >0'>
            <b>Please correct the following error</b>
            <ul>
                <li v-for='error in errors'>{{error}}</li>
            </ul>
        </p>
        <label>name :</label>
        <input type="text" v-model="form.name" :disabled="status == 'upload'"/>
        <label>address :</label>
        <textarea name="address" ref="address" v-model="form.address" :disabled="status == 'upload'"></textarea>
        <label>nomor hp :</label>
        <input type="text" v-model="form.no_hp" ref='no_hp' :disabled="status == 'upload'"/>
        <div v-if="status == 'submit'">
          <input type="submit" value="submit"  />
        </div>
        <div v-if="status == 'edit'">
          <input type="button" value='update' @click='updateData'>
          <input type="button" value='cancel' @click='clearForm'>
        </div>
        <div v-if="status == 'upload'">
          <input type="file"  name='photo' ref='photo'>
          <input type="button"  value='upload' @click='submitPhoto(idUpload)'>
          <input type="button" value='cancel' @click='clearForm'>
        </div>
        
        
      </form>

      <table border="1">
        <tr v-for='member of members'>
          <td width = 100>
            <img width=100 :src="folderFoto + member.photo_profile" alt="">
            
          </td>
          <td>
            <b>Nama: </b> {{member.name}} <br />
            <b>Alamat: </b> {{member.address}} <br />
            <b>Nomor HP: </b> {{member.no_hp}} <br />
          </td>
          <td>
            <button @click='editData(member)'>Edit</button>
            <button @click='deleteData(member.id)'>Hapus</button>
            <button @click='uploadFoto(member)'>Upload Foto</button>
          </td>
        </tr>
      </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          members : [],  
          form : {
            name: "",
            address: "",
            no_hp: null,
          },       
          errors: [],
          status: 'submit',
          idEdit: null,
          idUpload: null,
          folderFoto : 'http://demo-api-vue.sanbercloud.com',
        },
        methods: {
          validationForm : function(){
            this.errors = []
            if (this.form.no_hp.length >12 ){
              this.errors.push('Nomor HP tidak boleh lebih dari 12 angka')
              this.$refs.no_hp.focus()
            } 

          },
          clearForm(){
            this.form.name = '',
            this.form.address = '',
            this.form.no_hp = null,
            this.status = 'submit',
            this.idEdit = null,
            this.idUpload = null

          },
          submitForm: function () {
            this.validationForm()
            if (this.errors.length === 0){
              

              let formData = new FormData()
              formData.append('name', this.form.name)
              formData.append('address', this.form.address)
              formData.append('no_hp', this.form.no_hp)

              const config = {
                method : 'post',
                url : 'http://demo-api-vue.sanbercloud.com/api/member',
                data : formData
              }

              axios(config)
                .then((Response) => {
                  this.clearForm()
                  alert('terimakasih')
                  console.log(Response.data)
                })
                .catch((error) => {
                })
              this.getData()
            }
          },
          getData : function(){

            const config = {
              method : 'get',
              url : 'http://demo-api-vue.sanbercloud.com/api/member'
            }

            axios(config)
              .then( (Response)=> {
                console.log(Response.data.members)
                this.members = Response.data.members
              })
              .catch( (error)=> {
                console.log(error)
              })

          },
          deleteData : function(id){
            console.log(id)
            const config = {
              method : 'post',
              url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params : {_method: 'DELETE'}
            }

            axios(config)
              .then((response) => {
                this.getData()
                alert(response.data.message)
              })
              .catch( (error)=>{
                console.log(error)
              })

          },
          editData : function(member){
            console.log(member)
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            this.status = 'edit'
            this.idEdit = member.id

          },
          updateData : function(idEdit){
            this.validationForm()

            if (this.errors.length === 0){

              let formData = new FormData()
              formData.append('name', this.form.name)
              formData.append('address', this.form.address)
              formData.append('no_hp', this.form.no_hp)

              const config = {
                method : 'post',
                url : `http://demo-api-vue.sanbercloud.com/api/member/${this.idEdit}`,
                params : { _method : 'PUT' },
                data : formData
              }

              axios(config)
                .then( (response) => {
                  alert(response.data.message)
                  this.clearForm()
                  this.getData()
                  
                })
                .catch( (error) => {
                  console.log(error)
                })
            }
          },
          uploadFoto : function(member){
            
            this.form.name = member.name
            this.form.address = member.address
            this.form.no_hp = member.no_hp
            this.idUpload = member.id
            this.status = 'upload'

          },
          submitPhoto : function(id){
            console.log(id)
            let file = this.$refs.photo.files[0]

            let formData = new FormData()
            formData.append('photo_profile', file)

            const config = {
              method : 'post',
              url : `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data : formData
            }

            axios(config)
              .then( (response) => {
                this.clearForm()
                this.getData()
                alert(response.data.message)
              })
              .catch((error) => {
                console.log(error)
              })

          }
        },
        created(){
            this.getData()
          }
      });
    </script>
  </body>
</html>
