<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- sedang mengedit -->
      <div v-if="!Editing">
        <input type="text" v-model:value="add.name" />
        <input type="submit" value="Add" @click="addData" />
      </div>
      <!-- tidak sedang mengedit -->
      <div v-else>
        <input type="text" v-model:value="add.name" />
        <input type="submit" value="Update" @click="updateData" />
      </div>

      <ul>
        <li v-for="(user, index) in users">
          {{ user.name }}

          <button @click="editData(index, user)">Edit</button>
          <button @click="deleteData(index)">Delete</button>
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          users: [{ name: "Muhammad Iqbal Mubarok" }, { name: "Ruby Purwanti" }, { name: "Faqih Muhammad" }],
          add: {},
          selectedUser: null,
          Editing: false,
        },
        methods: {
          addData: function () {
            this.users.push(this.add);
            this.add = {};
          },
          deleteData: function (index) {
            this.users.splice(index, 1);
          },
          updateData: function () {
            this.users.splice(this.selectedUser, 1, this.add);
            this.add = {};
            this.Editing = false;
          },
          editData(index, add) {
            this.Editing = true;
            this.add = add;
            this.selectedUser = index;
          },
        },
      });
    </script>
  </body>
</html>
