<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model:value="keyword" />

      <ul v-for="book in cari">
        <li>{{ book }}</li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          books: ["kalkulus dasar", "fisika dasar", "aljabar linier elementer", "aljabar abstrak", "algoritma pemrograman"],
          keyword: "",
        },
        computed: {
          cari: function () {
            return this.books.filter((book) => {
              return book.match(this.keyword);
            });
          },
        },
      });
    </script>
  </body>
</html>
